<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="localhost" password="" userName=""/>
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <cors enabled="true">
            <add origin="*"/>
        </cors>
        <rewrite>
            <rules>
                <!-- <rule name="RedirectToMyPage" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/dist/css(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist/img(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist/js(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist/favicon.ico$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist/index.html$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist/$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/dist$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="dist" />
                </rule> -->



                <!-- <rule name="AngularJS-Html5-Routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/.well-known/openid-configuration" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/.well-known/jwks" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/api(.*)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/account(.*)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/connect(.*)" negate="true" />
                </conditions>
                <action type="Rewrite" url="asdf/dist/index.html"  />
                </rule>  -->



                <rule name="Maintenance" enabled="false" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^dist.*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(localhost|127\.0\.0\.1)$" negate="true"/>
                        <add input="{REMOTE_ADDR}" pattern="^2a00:1398:4:a000::1:2$" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/maintenance" redirectType="Temporary"/>
                </rule>

                <rule name="ReverseMaintenance" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^maintenance.*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(localhost|127\.0\.0\.1)$" negate="true"/>
                        <add input="{REMOTE_ADDR}" pattern="^2a00:1398:4:a000::1:2$" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="/dist/#" redirectType="Temporary"/>
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
