<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="">
                <network defaultCredentials="false" host="localhost" password="" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
